<%- include('./includes/head.ejs') %>
<%- include('./includes/navigation.ejs') %>

<body>
    <div class="error-div" style="margin: auto; width: 95%">
        <h1>404</h1>
        <h2>Sorry, page not found!</h2>
        
    </div>

<%- include('./includes/footer.ejs') %>