<%- include('./includes/head.ejs') %>
<%- include('./includes/navigation.ejs') %>

<body>
    <div class="error-div" style="margin: auto; width: 95%">
        <h1>500</h1>
        <h1>Internal Server Error</h1>
        <p class="error-message">We're working on fixing this issue, sorry for the inconvenience.</p>
        
    </div>

<%- include('./includes/footer.ejs') %>